@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Ubuntu", sans-serif;
}
/* <-------Home section---------> */
#home {
  width: 100%;
}
#home::before {
  content: "";
  position: absolute;
  background: url("./bg1.jpg") no-repeat center center/cover;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.75;
}
/* Birthday wish */
.dynamic-txt {
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 4rem;
  color: #fff;
  text-shadow: 2px 2px 8px rgb(35 149 202);
}

.dynamic-txt span {
  color: #fc6d6d;
  margin-left: 1rem;
  text-shadow: 2px 2px 8px #ee4040;
}



/* <--------Message Section-------> */
#message::before {
  content: "";
  position: absolute;
  background: url("./img4.jpg") no-repeat center center/cover;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.5;
}
.heading-div {
  display: flex;
  justify-content: center;
}
.msg-head {
  margin: 1.5rem ;
  padding: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22%;
  border: 1px solid rgb(255, 255, 255, 0.4);
  border-radius: 10px;
  backdrop-filter: blur(5px);
  background: radial-gradient(
    at 50% 0%,
    rgba(0, 0, 0, 0),
    rgb(255, 255, 255, 0.3)
  );
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
}

/* <-----Left Image-----> */
.content {
  display: flex;
  margin: 1rem;
}

.left-img img {
  height: 498px;
  width: 400px;
  margin-left: 1rem;
  border-radius: 10px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
}

/* <---------right div (message)-------> */

.right-div {
  margin: 0px 50px;
  padding: 2rem;
  padding-top: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-weight: 700;
  line-height: 1.6;
  border: 1px solid rgb(255, 255, 255, 0.4);
  border-radius: 15px;
  backdrop-filter: blur(5px);
  background: radial-gradient(
    at 50% 0%,
    rgba(0, 0, 0, 0),
    rgb(255, 255, 255, 0.3)
  );
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
}
/*<------- Memories-------> */
#memories::before {
  content: "";
  position: absolute;
  background: url("./bg4.jpg") no-repeat center center/cover;
  height: 544vh;
  width: 100%;
  z-index: -1;
  opacity: 0.6;
}
#memories h1 {
  text-align: center;
  font-size: 2rem;
  text-transform: capitalize;
  color: #fff;
  padding: 2rem;
}
.image img {
  height: 310px;
  width: 500px;
  margin-top: 80px;
  border-radius: 16px;
  box-shadow: 5px 10px 8px #fff;
}

.imgarea {
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 150px;
}
.right {
  margin-left: 50%;
}
